<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/header') -%>

</head>
<body>
  <div class="container">
     <div class="row d-flex">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;margin-top: 20%;">
         <h2 class="display-1">Opps sorry yipeeee!</h2>
         <h2 class="display-1">Opps sorry yipeeee!</h2>
         <h6 class="display-4 ">Looks like this is page doesn't exists</h6>
        </div>
    </div>   
</div>
</body>
</html>