<!doctype html>
<html lang="en">

<head>
	<%- include('../partials/header'); -%>
	
</head>

<body>


	<!--================Header Menu Area =================-->
	
			<!--================Nav Area =================-->
			<%- include('../partials/nav',{active: "about"},{data}); -%>
	
	<!--================Header Menu Area =================-->
    <!--================ Start About Us Section =================-->
	<section class="about_us section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="img-fluid" src="assets/img/images/g2.jpg" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-6">
					<div class="content_wrapper">
						<h1>ABOUT US</h1>
						<p>Happy2Help is a Social, Cultural, Economic, Health, Educational, relief and 
                            rural/urban community development organisation registered in New Delhi as a charitable trust in year 2000. We are 
                            committed to the Millennium development goals. Our vision is for a just and compassionate Indian society in which 
                            all people will have the opportunity to achieve their optimum potential. Its priorities and objectives are to carry 
                            out charitable, holistic and sustainable development work among the poor, marginalized, downtrodden, illiterate, 
                            vulnerable and the exploited ones, irrespective of their caste, creed, colour, sex or religion. In achieving the 
                            same we work in partnership with other national and international NGOs..</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="bottom_para">
                        <h1>VISION</h1>
						<p>The vision of Happy2Help is to create a just, equal and peaceful society where 
                            everybody shares and cares for the poor,  unprivileged and exploited people and make the world a better place to 
                            live in.</p>
                    </div>
                    <h1>MISSION</h1>
						<p>Our mission is “TO ENSURE SMILE ON EVERY FACE” : This is best done by establishing a redeemed, regenerated 
                            and progressive society, which will be free from exploitation, injustice and disparities – where the overall 
                            development and dignity of every person will be secured, where people can live in peace, solidarity, co-operation 
                            and brotherhood and where the rights of each one will be protected. All these would be brought about through 
                            transformation and sustained development of the Indian society in which they live.
                            .</p>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

		<!-- Footer -->
<%- include('../partials/footer') -%>

<!--  JavaScript -->
<%- include('../partials/script') -%>

	



	
</body>

</html>