<!doctype html>
<html lang="en">

<head>
	<%- include('../partials/header'); -%>
	
</head>

<body>


	<!--================Header Menu Area =================-->
	
			<!--================Nav Area =================-->
			<%- include('../partials/nav',{active: "causes"},{data}); -%>
	
	<!--================Header Menu Area =================-->

	
	


	
	</section> -->
    <section class="our_major_cause section_gap">
		<div class="container">
			<div class="row justify-content-center section-title-wrap">
				<div class="col-lg-12 margin-top=50px">
					<h2>Our Major Causes</h2>
					<blockquote class="generic-blockquote">
						You have the power to drive social momentum - at least one of your few hundred 
						friends and followers on Facebook and Twitter will see this, and possibly give 
						a little bit. Clearly, you don't need to spend a penny of your own money, and 
						your wealth of friends and family can translate into fundraising and emotional 
						support.
					</blockquote>
				</div>
			</div>
			<div class="row">
				<div id="our-major-cause" class="owl-carousel">
					
					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="assets/img/causes/education3.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<h4 class="card-title">Education</h4>
								<p class="card-text">1 in 11 children go to work when they should be in school. 
									When it is hard to afford necessities like food, shelter, and clothing; 
									education becomes a luxury that the poor give up. Illiteracy then leads to 
									further poverty. Donate for child education in India, support them with fees, 
									school supplies, footwear, transport and opportunities to showcase their talents. 
								</p>
								<a href="/education" class="genric-btn success circle arrow">Read More
									<span class="lnr lnr-arrow-right"></span>
								</a>							
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="assets/img/causes/health3.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<h4 class="card-title">Health</h4>
								<p class="card-text">2.4 million Indians die of treatable conditions every year! 
									Healthcare is a luxury which inaccessible for the poor. Health cannot be a privilege. 
									Donate to help the underprivileged people for their health. Support them with access to 
									medical help like pediatric care, maternal healthcare,
									dental care, chemotherapy, and counseling.Give them a chance to fight their illnesses. 
								</p>
								<a href="/health" class="genric-btn success circle arrow">Read More
									<span class="lnr lnr-arrow-right"></span>
								</a>							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<figure>
								<img class="card-img-top img-fluid" src="assets/img/causes/women3.jpg" alt="Card image cap">
							</figure>
							<div class="card_inner_body">
								<h4 class="card-title">Women</h4>
								<p class="card-text">50% of women in India now believe that the violence 
									inflicted by their partner is 'normal'. Donate to help women fight against 
									violence and stand for their rights and live a dignified and self-sustainable life. 
									Help women and girls get access to education, legal support, healthcare, livelihood opportunities 
									so they can be empowered to live a life free from violence. 
								</p>
								<a href="/women" class="genric-btn success circle arrow">Read More
									<span class="lnr lnr-arrow-right"></span>
								</a>							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--================ End important-points section =================-->

		<!-- Footer -->
<%- include('../partials/footer') -%>

<!--  JavaScript -->
<%- include('../partials/script') -%>

	



	
</body>

</html>