<!doctype html>
<html lang="en">

<head>
	<%- include('../partials/header'); -%>
	
</head>

<body>


	<!--================Header Menu Area =================-->
	
			<!--================Nav Area =================-->
			<%- include('../partials/nav',{active: ""},{data}); -%>
	
	<!--================Header Menu Area =================-->
 <!--================ Start Make Donation Area =================-->
 <section class="make_donation section_gap">
    <div class="container">
        <div class="row justify-content-start section-title-wrap">
            <div class="col-lg-12">
                <h1>Make a Donation Today</h1>
                <p>
                Every rupee counts! You can make a difference. Come forward, now…
                </p>
    
            </div>
        </div>
        <div class="row justify-content-center section-title-wrap">
            <div class="col-lg-12">
                <h3>
                    Your donation will add to the fund that runs child education, protection and health programs in India.
                </h3>
                <a class="main_btn" href='https://www.payumoney.com/paybypayumoney/#/5EEA765247C2204DF73C315CBE80F865'>donate now</a>

            </div>

    </div>
</section>
<!--================ End Make Donation Area =================-->

		<!-- Footer -->
<%- include('../partials/footer') -%>

<!--  JavaScript -->
<%- include('../partials/script') -%>

	



	
</body>

</html>