<!doctype html>
<html lang="en">

<head>
	<%- include('../partials/header'); -%>
	
</head>

<body>


	<!--================Header Menu Area =================-->
	
			<!--================Nav Area =================-->
			<%- include('../partials/nav',{active: "causes"},{data}); -%>
	
	<!--================Header Menu Area =================-->

	
	


	
	<section class="cause_details section_gap">
		<div class="container">

			<div class="card-body">
				<div class="col-lg-8 offset-lg-2">
					<div class="cause_content">
						<div class="row ">
							<h3>#1.Teach for India (TFI) </h3>
							
							<img class="card-img-top" src="assets/img/education/e1.jpg" alt="" >
							
							<p>Education is a gift for life. We help children reach school and stay there.</p>

							<p>We help children unlock their potential and realise their dreams. We believe that every child is extraordinary and can scale great heights if provided with the right learning opportunities. With regular and generous contributions from our supporters, we are able to march steadily towards achieving these goals.</p>
								
								<p>	We are committed to ensure that all children, irrespective of their origin, are able to go to school, play, interact and learn with other children of their age. We help children with limited means hone their creativity and skills under the guidance of trained teachers and make persistent efforts to enable them to secure a life of dignity for themselves, their families and the community at large.</p>
								
									<p>	In nine states of India, Save the Children runs programmes to support the education of the most disadvantaged children of India in different ways.  </p>
								
								
								 <p>	We counsel parents coming from the Economically Weaker Sections (EWS) of the society on the significance of sending their children to school and assist them through the admission process. In schools, we make learning fun. We train teachers to impart learning using child-friendly and interactive teaching-learning methods. We set libraries and infrastructure right, conduct Computer Science and English classes, promote and facilitate extra-curricular activities and sports. The idea is to provide holistic learning to children.  </p>
								
									<p>	We work with the local communities to form Children Groups (CGs) and School Management Committees (SMCs) and work with them to ensure that they take accountability of the development of the children in their community and that even the most marginalised children in their area are sent to school and they stay there. </p>
								
										<p>	We map out-of-school children and ensure their enrolment into formal schools in age-appropriate classes. </p>
								
											<p>	In classrooms, we encourage and help children to undertake learning activities in groups. This makes the entire experience much more fun and promotes healthy competition. </p>
								
												<p>	In metro cities, we operate our own learning centres where children coming from the socially-excluded communities are provided learning and/or after-school support. For example, in Kolkata and Mumbai, we run Mobile Learning Centres which reach the doorsteps of the  children who need us most.</p>
								
												<a class="main_btn2"
												href='/donation'>donate here</a>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End important-points section =================-->

		<!-- Footer -->
<%- include('../partials/footer') -%>

<!--  JavaScript -->
<%- include('../partials/script') -%>

	



	
</body>

</html>