<!doctype html>
<html lang="en">

<head>
	<%- include('../partials/header'); -%>
	
</head>

<body>


	<!--================Header Menu Area =================-->
	
			<!--================Nav Area =================-->
			<%- include('../partials/nav',{active: "index"},{data}); -%>
	
	<!--================Header Menu Area =================-->

	<!--================ Home Banner Area =================-->
	<div class="carousel-style"> 
		<div id="slides" class="carousel slide" data-ride="carousel">
		  <ul class="carousel-indicators">
			<li data-target="#slides" data-slide-to="0" class="active"></li>
			<li data-target="#slides" data-slide-to="1"></li>
			<li data-target="#slides" data-slide-to="2"></li>
		  </ul>
		  <div class="carousel-inner">
			 <div class="carousel-item active">
				<img class="img-responsive center-block" src="/assets/img/banner/banner1.jpg">
			 </div>
			 <div class="carousel-item ">
				<img class="img-responsive center-block" src="/assets/img/banner/banner10.jpg" >
			  </div>
			  <div class="carousel-item">
				<img class="img-responsive center-block" src="/assets/img/banner/banner13.jpg">
			  </div>
		  </div>
		</div>
	   </div>


	<section class="welcome1">
		<div class="container-fluid">
		  <div class="row welcome text-center">
			<div class="col-12 padding">
			  <h1 class="display-4">Welcome to Happy to Help</h1>
			</div>
			<hr>
			<div class="col-12">
			  <p class="lead">
				Still there are millions of people  living a life of below poverty line and unable to lead a daily normal life.
				</p>
				  <p class="lead">Our little attention can make someone’s life a happy one. </p>
			</div>
		  </div>
		</div>
	  </section>  
		<!--Two Coloumn Section 1-->
	  <section class="section_1"> 
		<div class="container-fluid ">
		  <div class="row ">
			<div class="col-sm-12 col-lg-6 col-md-6 padding">
				<div class="card ">
				  <div class="card-body text-center">
					  <h2>Together We Grow</h2>
					<p class="card-text">
					  Alone, we are powerless. But, together, we can make things happen. If we join forces with likeminded individuals, form an alliance & stick together, we have a better chance of being heard. Together, we can promote change, fight for our beliefs & make something happen.
	
					  “It takes a village to raise a child.” Right?
	
					  </p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6  col-md-6 padding">
			  <img src="assets/img/pic1.jpg" class="img-fluid rounded">
			</div>
		  </div>
		</div>
	
	  </section>
	  <section class="section_2"> 
		<div class="container-fluid ">
		  <div class="row"> 
			<div class="col-sm-12 col-lg-6  col-md-6 padding">
			  <img src="assets/img/pic2.jpg" class="img-fluid rounded">
			</div>
			<div class="col-sm-12 col-lg-6  col-md-6 padding">
			  <div class="card ">
				<div class="card-body text-center">
					<h2>The Seed of Enlightment</h2>
				  <p class="card-text">
					If Reformation and Enlightenment are false steps, there is a more instructive analogy. Ironically, it can be found in the religious body that the Reformation and the Enlightenment both considered freedom’s greatest enemy: the Catholic Church. The Catholic Church came around to religious freedom quite late in history, with the Second Vatican Council’s promulgation of Dignitatis Humanae, its Declaration on Religious Liberty. 
					The example of the Church shows how robust religious freedom can emerge from within a tradition that previously had regarded it with suspicion.
				  </p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>  
		
	  <section class="section_3">  
		<div class="container-fluid">
		  <div class="row">
			<div class="col-sm-12 col-lg-6  col-md-6 padding">
			  <div class="card ">
				<div class="card-body text-center">
					<h2>WE CAN MAKE THINGS HAPPEN!</h2>
				  <p class="card-text">
					Go it alone if you want to, go it alone day by day,
	Go it alone without a clue, go it alone all the way...
	But when you're done, come back to me, with all your pain and doubt
	And then, together, one, two, three, we'll really sort it out!
	Go it alone if you're steadfast, go it alone if you must,
	Go it alone if you're downcast, go it alone till you're bust...
	But when you're done, come back again, with frowns upon your brow
	Because, together, there and then, we'll both succeed and how!
	:
	Go it alone if you're willing, go it alone if you dare,
	Go it alone if fulfilling, go it alone, yet beware...
	For when you're done, my frail old friend, with battle scars galore,
				  </p>
				</div>
			  </div>
			</div>
			<div class="col-sm-12 col-lg-6  col-md-6 padding">
			  <img src="assets/img/pic3.jpg" class="img-fluid rounded">
			</div>
		  </div>
		</div>
		
	  </section>    
	  <!--Fixed  Background --> 
	  <!--
	  <figure>
		<div class="fxied-wrap">
		  <div id="fixed">
		  </div>
		</div>
	  </figure>
	-->
	
	  <!--two coloumn section 2 -->
	  <section class="donation">
	  <div class="container-fluid">
		<div class="row welcome text-center ">
		  <div class="col-12">
			<h1 class="display-4"> Your Donation matters.</h1>
		  </div>
		  <hr>
		  <div class="col-12">
			<p class="lead">Your donation makes a direct impact on the lives of the people we serve. Because of your generous gift, we will continue to passionately lead or assist people with disabilities into a thriving and meaningful life.
			  your donation matters.
			</p>
		  </div>
		  <div class="col-12">
			<!-- <div class="modal" id="modal_donation">
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title">Oops!</h5>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">x
					  </button>
					</div>
					<div class="modal-body" >
					  <p style="color: black;">Please Sign Up if you are a new user</p>
					  <p style="color: black;">Else Sign In</p>
					</div>
				  </div>
				</div>
			  </div> -->
			
			  <!-- <% if(data.user){ %>
				<a class="main_btn"
				  href='https://www.payumoney.com/paybypayumoney/#/5EEA765247C2204DF73C315CBE80F865'>
				  donate here
				</a>
			   <% } else{ %>
				<a class="main_btn" href="#" data-toggle="modal" data-target="#modal_donation">
				  donate here
				</a>
				<% } %> -->
				<a class="main_btn"
				  href='/donation'>
				  donate here
				</a>
		  </div>
		</div>
	  </div>
	  </section>
	<!--================ End important-points section =================-->

		<!-- Footer -->
<%- include('../partials/footer') -%>

<!--  JavaScript -->
<%- include('../partials/script') -%>

	



	
</body>

</html>