<!doctype html>
<html lang="eng">
  <head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Charity </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    
    
    <!-- main css -->
  <link rel="stylesheet" href="css/style.css">
</head>
 
<body>

  <!--Payment Successful-->
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="success-page">
            <img  src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt="" />
            <h3> Oops! Something went wrong.</h3>
            <p>Try again,Sometimes Later</p>
            <a href="index.html" class="btn-view-orders">Go Home Now</a>
            </div>
        </div>
        </div>
    </div>

    

  </body>    

</html>