/*--------Index---------*/
.carousel-inner img{
    position: relative;
    width:100%;
    height:390px;
    
    
}
.carousel{
   width:100%;
   height:60%;
   margin-top:80px;
   padding-top:10px;


}
.padding{
    padding:1em;
}

.jumbotron{
  
 padding:2em;
 border-radius:0px;
 margin:0;
 width:100%;



 //background-color:pink;
 p{
     color:white;
 }

}


   .welcome{
    width:75%;
    margin:0 auto;
    padding-top:2rem;
    hr{
        border-top:2px solid #b4b4b4;
        width:60%;
        margin-bottom:1 em;
        margin-top:.3rem;
    }
}
   /*.section_1,.section_2,.section_3{
       background-color: #81ceff;
       color:black;
       font-size: 1em;
   }*/

   .welcome1{
       //background-color:#fce4ec ;
       background-color:white;
       h1,p{
           color:black;
       }


   }

.section_1,.section_2,.section_3{
    padding:1em;
    background-color:white;

   // background-color:#81ceff;
   .card{
    border:2px solid lighten($color:orange, $amount: 20);
    border-radius: 20px;
   
    height:100%;
    background-color:white;
    transition: all 0.7s ease 0s;
    
    h2{
      color:lighten($color: black, $amount: 20);  
    }
    p{
        color:lighten($color: black, $amount: 6);
        //font-weight: bold;
        font-size: large;
      
    }
    
   }
   .card:hover{
    background:blanchedalmond;
    box-shadow: 15px 15px 10px -10px rgba(51, 40, 40, 0.5), 0 1px 4px  rgba(51,41,0,0.3), 0 0 40px  rgba(0,0,0,0.1);
    //border:none;
    //border-radius:5px
    
}
}

.donation{
    //background-color: white;
    padding-bottom:1em;
    background-color:white;
    p,h1{
        color:black;
    }

   
   }


.connect_page{

   //background-color: #e3f2fd;
   background-color:black;

   padding:1em;
   h2{
       color:crimson;
    }
        
    
    .fa-facebook{
     color:#3b5998;
    }
    .fa-instagram{
     color:#3f729b;
    }
    .fa-youtube{
   color:#bb0000;
    }
    .fa-google-plus-square{
    color:#dd4b39;
    }
    .fa-twitter{
     color:#00aced;
    }

    .social a{
       font-size:4.5em;
        margin:1em;
    }

    

.fa-facebook:hover{
    box-shadow: 15px 15px 10px -10px rgba(51, 40, 40, 0.5), 0 1px 4px  rgba(51,41,0,0.3), 0 0 40px  rgba(0,0,0,0.1);
    transform:scale(.9);
    transition: all 0.7s ease 0s;
    border-radius: 8px;


}

.fa-twitter:hover{
    box-shadow: 15px 15px 10px -10px rgba(51, 40, 40, 0.5), 0 1px 4px  rgba(51,41,0,0.3), 0 0 40px  rgba(0,0,0,0.1);
    transform:scale(.9);
    transition: all 0.7s ease 0s;
    border-radius: 15px;


}
.fa-google-plus-square:hover{
    box-shadow: 15px 15px 10px -10px rgba(51, 40, 40, 0.5), 0 1px 4px  rgba(51,41,0,0.3), 0 0 40px  rgba(0,0,0,0.1);
    transform:scale(.9);
    transition: all 0.7s ease 0s;
    border-radius: 15px;


}
.fa-instagram:hover{
    box-shadow: 15px 15px 10px -10px rgba(51, 40, 40, 0.5), 0 1px 4px  rgba(51,41,0,0.3), 0 0 40px  rgba(0,0,0,0.1);
    transform:scale(.9);
    transition: all 0.7s ease 0s;
    border-radius: 15px;


}
.fa-youtube:hover{
    box-shadow: 15px 15px 10px -10px rgba(51, 40, 40, 0.5), 0 1px 4px  rgba(51,41,0,0.3), 0 0 40px  rgba(0,0,0,0.1);
    transform:scale(.9);
    transition: all 0.7s ease 0s;
    border-radius: 5px;

}

}