/*----------------------------------------------------*/
@import "variables";
/*---------------------------------------------------- */ 

/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "header";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "banner";
/*---------------------------------------------------- */
//
/*----------------------------------------------------*/
@import "donation";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
//@import "breadcrumb";
/*---------------------------------------------------- */

/*----------------------------------------------------*/


/*----------------------------------------------------*/
@import "contact";
/*---------------------------------------------------- */ 

/*----------------------------------------------------*/
@import "elements";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
@import "button";
/*---------------------------------------------------- */

/*----------------------------------------------------*/
//@import "timer";
/*---------------------------------------------------- */ 

/*----------------------------------------------------*/
@import "clients";
/*---------------------------------------------------- */ 

/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */
@import "index";
/*---------------------------------------------------- */
@import "gallery";
/*---------------------------------------------------- */